/2024-02-22/vendor/
/primaPenzion-v2/vendor/
/primaPenzion-v3/vendor/
/primaPenzion-v4/vendor/
/primaPenzion-v4/node_modules/
/2024-02-22/node_modules/
/2024-03-1/node_modules/
/2024-03-04/node_modules/