/2024-02-22/vendor/
/primaPenzion-v2/vendor/
/primaPenzion-v3/vendor/
/primaPenzion-v4/vendor/
/primaPenzion-v4/node_modules/
/2024-02-22/node_modules/
/2024-03-1/node_modules/
/2024-03-04/node_modules/


/Laravel-projects/kotatka/.phpunit.cache
/Laravel-projects/kotatka/node_modules
/Laravel-projects/kotatka/public/build
/Laravel-projects/kotatka/public/hot
/Laravel-projects/kotatka/public/storage
/Laravel-projects/kotatka/storage/*.key
/Laravel-projects/kotatka/vendor
/Laravel-projects/kotatka.env
/Laravel-projects/kotatka.env.backup
/Laravel-projects/kotatka.env.production
/Laravel-projects/kotatka.phpunit.result.cache
/Laravel-projects/kotatkaHomestead.json
/Laravel-projects/kotatkaHomestead.yaml
/Laravel-projects/kotatkaauth.json
/Laravel-projects/kotatkanpm-debug.log
/Laravel-projects/kotatkayarn-error.log
/Laravel-projects/kotatka/.fleet
/Laravel-projects/kotatka/.idea
/Laravel-projects/kotatka/.vscode
